# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (au cas où)
Pods/
Carthage/Build/

# Claude Code (réglages perso machine-local)
.claude/settings.local.json

# Divers
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
